---
depot:
  items:
    - title: 'Vehicle 1.'
    - title: 'Vehicle 2.'
    - title: 'Vehicle 3.'
vehicle:
  move-to-depot:
    title: 'Move To Depot'
  move-to-storage:
    title: 'Move To Storage'
  depot-select:
    default-title: 'Auto'
    default-value: ''
    options: ['Depot 1.','Depot 2.','Depot 3.']
  storage-select:
    default-title: 'Auto'
    default-value: ''
    options: ['Storage 1.','Storage 2.','Storage 3.']
  preferred-resource-select:
    default-title: 'Auto'
    default-value: ''
    options: ['Resource 1.','Resource 2.','Resource 3.']

---

{{#mixin "organisms/dialog" this partial-name="organisms/dialog/unit-view" controller-name="./partials/organisms/dialog/UnitView" title="Action Info" }}
  {{#content "content"}}

    {{#mixin "molecules/tab-container" this class="tab-container--dialog tab-container--scroll" target="[data-controller='./partials/organisms/dialog/UnitView']" }}
      {{#content "content"}}

        <div data-name="info" data-title="Info">
          <div class="unit-view__info" data-hook="unitViewInfo">

          </div>
        </div>

        <div data-name="vehicle" data-title="Vehicle">
          <div class="unit-view__vehicle" data-hook="unitViewVehicle">

            {{#mixin "atoms/form" vehicle}}
              {{#content "content"}}
              <div>
                {{{mixin "atoms/button" move-to-depot hook="unitViewVehicleMoveToDepotButton"}}}
                {{{mixin "atoms/button" move-to-storage hook="unitViewVehicleMoveToStorageButton"}}}
              </div>
                <div data-hook="unitViewVehicleDepot">
                  <label>Depot:</label>{{{mixin "atoms/input/dropdown" depot-select hook="unitViewVehicleDepotDropdown" }}}
                </div>
                <div data-hook="unitViewVehicleStorage">
                  <label>Storage:</label>{{{mixin "atoms/input/dropdown" storage-select hook="unitViewVehicleStorageDropdown" }}}
                </div>
                <div data-hook="unitViewHarvesterPreferredResource">
                  <label>Preferred Resource:</label>{{{mixin "atoms/input/dropdown" preferred-resource-select hook="unitViewHarvesterPreferredResourceDropdown" }}}
                </div>
              {{/content}}
            {{/mixin}}

          </div>
        </div>


        <div data-name="storage" data-title="Storage">
          <div class="unit-view__storage__items" data-hook="unitViewStorageItems">

          </div>
        </div>

        <div data-name="depot" data-title="Depot">
          <div class="unit-view__depot" data-hook="unitViewDepot">
            {{#mixin "atoms/list" depot class="list--text-border" hook="unitViewDepotUnits"}}{{#content "content"}}{{#each items}}{{{mixin "organisms/dialog/unit-view/depot-item" this}}}{{/each}}{{/content}}{{/mixin}}
          </div>
        </div>

      {{/content}}
    {{/mixin}}

  {{/content}}
{{/mixin}}
