<span class="partial {{{class}}}" data-partial="{{#if partial-name}}{{{partial-name}}}{{else}}atoms/button{{/if}}">
  {{#block "content"}}
  <input type="{{{fallback type 'button'}}}" value="{{{title}}}"{{#if hook}} data-hook="{{{hook}}}"{{/if}}{{#if dialog}} data-dialog="{{{dialog}}}"{{/if}} />
  {{/block}}
</span>
