<span class="partial {{{class}}}" data-partial="{{#if partial-name}}{{{partial-name}}}{{else}}atoms/button{{/if}}">
  {{#block "content"}}
  <input class="button__inner" type="{{{fallback type 'button'}}}" value="{{{title}}}"{{#if hook}} data-hook="{{{hook}}}"{{/if}}{{#if dialog}} data-dialog="{{{dialog}}}"{{/if}}{{#each dataset}} data-{{{@key}}}="{{{this}}}"{{/each}} />
  {{/block}}
</span>
