<div class="partial controller {{{class}}}" data-partial="{{#if partial-name}}{{{partial-name}}}{{else}}organisms/app{{/if}}" data-controller="{{#if controller-name}}{{{controller-name}}}{{else}}./partials/organisms/App{{/if}}" {{{block "attributes"}}}>

  {{#block "content-before"}}{{/block}}
  <div class="app__container" data-hook="appContainer"></div>
  {{#block "content-after"}}{{/block}}
</div>
