<div class="partial controller {{{class}}}" data-partial="{{#if partial-name}}{{{partial-name}}}{{else}}organisms/dialog{{/if}}" data-controller="{{#if controller-name}}{{{controller-name}}}{{else}}./partials/organisms/Dialog{{/if}}" {{#if target}} data-target="{{{target}}}"
  {{/if}} {{{block "attributes"}}}>
  {{#if title}}
  <div class="dialog__title">
    <span data-hook="dialogTitle">{{{title}}}</span>
  </div>
  {{/if}}
  <div class="dialog__content">
    {{#block "content"}}{{/block}}
  </div>

</div>
