---
# default-title: 'Default Option'
# default-value: 'default_option_value'
options:
  - title: 'option with value'
    value: 'option_value'
  - title: 'option only title'
  - 'options only type string'
  - title: 'option group'
    options:
      - title: grouped option
---
<span class="partial {{{class}}}" data-partial="atoms/input/dropdown">
  <select{{#if size}} size="{{{size}}}"{{/if}}{{#if multiple}} multiple{{/if}}{{#if hook}} data-hook="{{{hook}}}"{{/if}}{{#if default-title}} data-default-title="{{{default-title}}}"{{/if}}{{#if default-value}} data-default-value="{{{default-value}}}"{{/if}}>
    {{#if default-option}}
      {{> "atoms/input/dropdown/option" default-option}}
    {{/if}}
    {{#each options}}
      {{> "atoms/input/dropdown/option" this}}
    {{/each}}
  </select>
</span>
