<span class="partial {{{class}}}" data-partial="atoms/input/textfield">
  <input type="{{{fallback type "text"}}}"{{#if id}} id="{{{id}}}"{{/if}}{{#if name}} name="{{{name}}}"{{/if}}value="{{{value}}}"{{#if placeholder}} placeholder="{{{placeholder}}}"{{/if}}{{#if step}} step="{{{step}}}"{{/if}}{{#if min}} min="{{{min}}}"{{/if}}{{#if max}} max="{{{max}}}"{{/if}}{{#if size}} size="{{{size}}}"{{/if}}{{#if test}} test="{{{test}}}"{{/if}}{{#if hook}} data-hook="{{{hook}}}"{{/if}} />
</span>
